<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marquee JavaScript</title>
  <style>
    .marquee {
      margin: 100px auto;
      width: 300px;
      overflow: hidden;
      border: 1px solid #ccc;
      background: #ccc;
    }
  </style>
</head>
<body>
  <div class="marquee" data-duration="12000">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, asperiores delectus? Ipsa officia hic quaerat vel nihil vero veniam nemo! Autem repudiandae accusantium quod deserunt, impedit aperiam optio eum tempora.</p>
  </div>

  <script type="module">
    import Marquee from './marquee.js'
    const marquee = new Marquee('.marquee')
  </script>
</body>
</html>