<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>操作系统剪贴板</title>
</head>
<body>
  <div>
    <p>just do it</p>

  <section>
    <button id="js-button">操作剪贴板</button>
  </section>

  <script>
    // 检查兼容性
    window.onload = () => {

      document.querySelector('#js-button').addEventListener('click', () => {
        let successed = true
        try {
          successed = document.execCommand('copy')
        } catch (e) {
          successed = false
        }
        
        if (successed) {
          console.log('复制成功')
        }
      })

    }
  </script>
</body>
</html>