:root {
  --font-size: 32px;
  --color: red;
}

/* 语法编辑器不支持啊 ！！！ */
/* @define-mixin fontstyle $size, $color {
  font-size: calc($size/2);
  color: $color;
} 

.demo {
  width: 200px;
  height: 200px;
  @mixin fontstyle 32px, #000;
} */