<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JavaScript 模拟实现 dropcap</title>
  <script src="./first-capital-sink.js"></script>
  <style>
    .demo {
      margin: 40px auto;
      width: 400px;
      padding: 20px;
      border: 1px dashed red;
      font-size: 16px;
      line-height: 1.5;
    }
    canvas {
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <div class="demo">
    <p id="js-p"><span id="js-span">M</span>y father’s family name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.amily name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.</p>
  </div>

  <script>
    const firstCapitalSink = new FirstCapitalSink('#js-span')
    firstCapitalSink.init(3)
    // // 1、获取文本的样式
    // // 2、创建一个 fakerElement 元素 计算出首字符所占据的高度
    // // 3、通过 canvas 像素级的操作 获取顶部边缘 以及高度边缘

  </script>
</body>
</html>