<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>dropcaps</title>
  <script src="./drapcap.js"></script>
  <style>
    .demo {
      margin: 40px auto;
      width: 400px;
      padding: 20px;
      border: 1px dashed red;
      font-size: 16px;
      line-height: 1.5;
    }
    canvas {
      border: 1px solid red;
    }

    .demo1 {
      padding: 0;
      margin: 0;
      font-size: 100px;
      line-height: 1;
      position: relative;
      background: rgb(213,213,213);
    }
    .cap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 14px;
      background: red;
    }

    .base {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 15px;
      background: red;
    }
  </style>
</head>
<body>
  
  <div class="demo">
    <p id="js-p"><span id="js-span">M</span>y father’s family name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.amily name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.</p>
  </div>

  <div class="demo">
    <p id="js-p1"><span id="js-span1">M</span>y father’s family name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.amily name being Pirrip, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called Pip.</p>
  </div>
  <canvas id="canvas"></canvas>

  <div class="demo1">
    <div class="cap"></div>
    M
    <div class="base"></div>
  </div>
  <script>
    // https://stackoverflow.com/questions/10180148/how-to-calculate-descender-height-in-javascript

    // https://github.com/nathanhammond/baseline-ratio/blob/master/baseline-ratio.js
    function createFakerElement(fontStyle) {
      const el = document.createElement('div')
      const options = Object.assign({
        position: 'fixed',
        top: '0',
        left: '0',
        opacity: '0'
      }, fontStyle)
      el.style = options
      const span = document.createElement('span')
      span.innerHTML = 'X'
      el.appendChild(span)
      document.body.appendChild(el)
      return el
    }
    function getFontCSS(el) {
      const _css = window.getComputedStyle(el)
      const cssProperties = ['fontFamily', 'fontSize', 'lineHeight']
      const ret = Object.create(null)
      for (let i = 0, max = cssProperties.length; i < max; i++) {
        const property = cssProperties[i]
        const value = _css.getPropertyValue(transformCamelToHyphen(property))
        ret[property] = value
      }
      return ret
    }
    // 连字符 转驼峰
    // function transformHyphenToCamel(str) {
    //   return str.replace(/-(\w)/g, (all, letter) => {
    //     return letter.toUpperCase()
    //   })
    // }
    function transformCamelToHyphen(str) {
      return str.replace(/([A-Z])/g, '-$1').toLowerCase()
    }

    function toPXLength(number) {
      return `${number}px`
    }
    const p = document.getElementById('js-p')
    const obj = getFontCSS(p)
    console.log(obj)
    const fakerElement = createFakerElement(obj)
    
    // 获取高度
    const _x = 2
    const height = fakerElement.offsetHeight
    const span = document.getElementById('js-span')
    const fontsize = height * _x / 0.71
    console.log('高度： '  + height * _x)
    span.style.fontSize = toPXLength(fontsize)
    span.style.cssFloat = 'left'
    span.style.lineHeight = 1 // 设置为字体一致大小
    span.style.verticalAlign = 'middle'
    span.style.height = height * _x
    span.style.margin = `-${fontsize * 0.14}px 0 -${fontsize * 0.15}px 0`


    const canvas = document.getElementById('canvas')
    const ctx = canvas.getContext('2d')

    canvas.width = 100
    canvas.height = 100
    ctx.fillStyle = "#ffffff";
    ctx.fillRect(0,0, canvas.width, canvas.height);
    ctx.font = `100px ${obj.fontFamily}`
    ctx.fillStyle = '#000000'
    ctx.textBaseline = 'top'
    ctx.fillText('M',0,0)

    function _isBlack(imageData, pindex) {
      const firstByte = pindex * 4
      const red = imageData[firstByte]
      const green = imageData[firstByte + 1]
      const blue = imageData[firstByte + 2]
      return (red === 0 && green === 0 && blue === 0) ? true : false
    }
    const imageDataObj = ctx.getImageData(0, 0, canvas.width, canvas.height)
    const imageData = imageDataObj.data
    
    // for (let i = 0; i < canvas.width; i++) {
    //   for (let j = 0; j < canvas.height; j++) {
    //     const index = (j * canvas.width + i) * 4
    //     const red = imageData[index]
    //     const green = imageData[index + 1]
    //     const blue = imageData[index + 2]
    //     if (red === 0 && green === 0 && blue === 0) {
    //       imageData[index] = 255
    //       imageData[index + 1] = 0
    //       imageData[index + 2] = 0
    //     }
    //   }
    // }

    // ctx.putImageData(imageDataObj, 0, 0)


    let startX, startY, endY
    const middleY = canvas.height / 2 - 1
    for (let i = 0; i < canvas.width; i++) {
      const index = middleY * canvas.width + i
      if (_isBlack(imageData, index)) {
        startX = i
        break
      }
    }

    for (let j = 0; j < canvas.height; j++) {
      const index = j * canvas.width + startX
      if (_isBlack(imageData, index)) {
        startY = j
        break
      }
    }

    for (let j = canvas.height; j >= 0; j--) {
      const index = j * canvas.width + startX
      if (_isBlack(imageData, index)) {
        endY = j
        break
      }
    }

    const spaceRatioTop = startY / 100
    const spaceRatioBottom = 1 - endY / 100
    console.log(spaceRatioTop)
    console.log(spaceRatioBottom)
    var dropcap = document.getElementById('js-span1')
    window.Dropcap.layout(dropcap, 2)


    function calculateBaselineRatio() {
      const el = document.createElement('div')
      el.style.display = "block"
      el.style.position = "absolute"
      el.style.bottom = "0"
      el.style.right = "0"
      el.style.width = "0px"
      el.style.height = "0px"
      el.style.margin = "0"
      el.style.padding = "0"
      el.style.visibility = "hidden"
      el.style.overflow = "hidden"

      const small = document.createElement('span')
      const large = document.createElement('span')

      small.style.fontSize = '0px'
      large.style.fontSize = '100px'

      small.innerHTML = 'X'
      large.innerHTML = 'X'
    
      el.appendChild(small)
      el.appendChild(large)

      document.body.appendChild(el)

      const smalldims = small.getBoundingClientRect()
      const largedims = large.getBoundingClientRect()

      const baselinePosition = smalldims.top - largedims.top
      console.log(smalldims)
      console.log(largedims)
      console.log(baselinePosition)

      return 1 - (baselinePosition / largedims.height)
    }

    console.log('底线' + calculateBaselineRatio())
  </script>
</body>
</html>