<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    * {
      padding: 0;
      margin: 0;
    }
    .demo {
      float: left;
      position: relative;
      border: 1px solid red;
      /* height: 71px; */
      /* line-height: 1px; */
      line-height: 1;
    }

    span {
      font-size: 100px;
    }

    .some {
      display: inline-block;
      /* margin-top: -35px; */
    }
  </style>
</head>
<body>
  <div class="demo">
    <span class="some">M</span>
  </div>
</body>
</html>